truststore==0.10.1
shellingham==1.5.4
seqeval==1.2.2
contourpy==1.3.2
contourpy==1.3.1
cymem==2.0.11
missingno==0.5.2
arrow==1.3.0
mne==1.9.0
nibabel==5.3.2
cons==0.4.6
threadpoolctl==3.6.0
anndata==0.12.1
uri-template==1.3.0
nilearn==0.12.0
rfc3339-validator==0.1.4
autopage==0.5.2
pexpect==4.9.0
libmambapy==2.1.0
Pygments==2.19.1
pandas==2.2.3
lazy_loader==0.4
fqdn==1.5.1
llvmlite==0.44.0
gym==0.23.1
idna==3.10
babel==2.17.0
snntorch==0.6.1
wordcloud==1.9.4
traitlets==5.14.3
language_data==1.3.0
nest-asyncio==1.6.0
branca==0.8.1
narwhals==1.34.1
kiwisolver==1.4.8
gymnasium==0.29.1
multipledispatch==0.6.0
multipledispatch==1.0.0
ptyprocess==0.7.0
flatbuffers==25.2.10
folium==0.19.5
prometheus_client==0.21.1
isoduration==20.11.0
pillow==11.1.0
nltk==3.9.1
pybind11==2.13.6
pytz==2025.2
pytz==2025.1
gensim==4.3.3
gprofiler-official==1.0.0
spacy==3.8.4
legacy-api-wrap==1.4.1
matplotlib==3.9.4
typing-inspection==0.4.1
plotly==6.0.1
overrides==7.7.0
parso==0.8.4
webencodings==0.5.1
colorama==0.4.6
pydantic-settings==2.9.1
crc32c==2.7.1
lifelines==0.30.0
hmmlearn==0.3.3
tinycss2==1.4.0
array-api-compat==1.12.0
UpSetPlot==0.9.0
intervaltree==3.1.0
umap-learn==0.5.7
fonttools==4.57.0
fonttools==4.56.0
pymc==5.22.0
bertopic==0.17.0
astunparse==1.6.3
abc_atlas_access==0.7.0
ipython==9.0.2
cmdstanpy==1.2.5
opt_einsum==3.4.0
huggingface_hub==0.30.2
huggingface-hub==0.29.3
anyio==4.9.0
defusedxml==0.7.1
torchmetrics==1.7.3
prettytable==3.16.0
setuptools==80.1.0
setuptools==80.1.0
google-pasta==0.2.0
requests==2.32.3
frozenlist==1.5.0
openpyxl==3.1.5
attrs==25.3.0
xyzservices==2025.4.0
xarray-einstats==0.8.0
natsort==8.4.0
pydantic==2.10.6
transformers==4.49.0
async-lru==2.0.5
arviz==0.21.0
spacy-legacy==3.0.12
soupsieve==2.6
ruamel.yaml.clib==0.2.12
hydra-optuna-sweeper==1.2.0
markdown-it-py==3.0.0
gseapy==1.1.8
seaborn==0.13.2
Farama-Notifications==0.0.4
h11==0.14.0
GitPython==3.1.44
fsspec==2025.3.2
fsspec==2024.12.0
networkx==3.4.2
pybind11_global==2.13.6
accelerate==1.6.0
pyparsing==3.2.3
pyparsing==3.2.1
protobuf==5.29.5
colorlog==6.9.0
numcodecs==0.16.1
jupyter-console==6.6.3
jedi==0.19.2
spacy-loggers==1.0.5
joblib==1.4.2
autograd-gamma==0.5.0
et_xmlfile==2.0.0
pytest==8.4.1
cloudpathlib==0.21.0
zarr==3.1.1
boto3==1.40.2
jupyterlab==4.3.6
jupyter-server-mathjax==0.2.6
menuinst==2.2.0
sklearn-crfsuite==0.5.0
jupyter==1.1.1
PySocks==1.7.1
patsy==1.0.1
gast==0.6.0
catalogue==2.0.10
jupyter_client==8.6.3
beautifulsoup4==4.13.3
rich==13.9.4
rich==14.0.0
pynndescent==0.5.13
botocore==1.40.2
asttokens==3.0.0
tqdm==4.67.1
scikit-learn==1.6.1
jupyterlab_widgets==3.0.13
pandocfilters==1.5.1
fastjsonschema==2.21.1
cmaes==0.11.1
pytensor==2.30.3
jsonpatch==1.33
click==8.1.8
jsonpointer==3.0.0
jupyterlab_git==0.51.1
tzdata==2025.2
tzdata==2025.1
ipython_pygments_lexers==1.1.1
appnope==0.1.4
setproctitle==1.3.6
multidict==6.2.0
jupyter_server==2.15.0
typing_extensions==4.13.2
typing_extensions==4.12.2
weasel==0.4.1
decorator==5.2.1
tokenizers==0.21.1
confection==0.1.5
lxml==6.0.0
h2==4.2.0
cffi==1.17.1
jsonschema==4.23.0
umap==0.1.1
executing==2.2.0
TorchCRF==1.1.0
nbformat==5.10.4
pyperclip==1.9.0
conda_package_streaming==0.11.0
boltons==24.1.0
sentry-sdk==2.32.0
stack-data==0.6.3
argon2-cffi==23.1.0
tensorboard==2.19.0
debugpy==1.8.13
tomlkit==0.13.3
python-dotenv==1.1.0
en_core_web_sm==3.8.0
sympy==1.14.0
sympy==1.13.1
nbdime==4.0.2
zstandard==0.23.0
cached-property==1.5.2
multiprocess==0.70.16
Werkzeug==3.1.3
pbr==6.1.1
jupyter_core==5.7.2
xxhash==3.5.0
hdbscan==0.8.40
nbconvert==7.16.6
referencing==0.36.2
jmespath==1.0.1
pytorch-crf==0.7.2
ugtm==2.1.0.post2
gym-notices==0.0.8
certifi==2025.4.26
regex==2024.11.6
propcache==0.3.0
absl-py==2.3.1
loguru==0.7.3
Send2Trash==1.8.3
gnureadline==8.2.13
namex==0.1.0
jupyter-lsp==2.2.5
nbclient==0.10.2
numpy==2.1.3
numpy==2.2.5
gitdb==4.0.12
sniffio==1.3.1
psutil==7.0.0
jsonschema-specifications==2024.10.1
SQLAlchemy==2.0.41
mdurl==0.1.2
aiohttp==3.11.14
geojson==3.2.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
hydra-colorlog==1.2.0
yarl==1.18.3
charset-normalizer==3.4.1
preshed==3.0.9
sortedcontainers==2.4.0
geopandas==1.0.1
wcwidth==0.2.13
widgetsnbextension==4.0.13
torch==2.6.0
gmpy2==2.2.1
keras==3.10.0
pyproj==3.7.1
python-aalib==0.4
mne-connectivity==0.7.0
srsly==2.5.1
antlr4-python3-runtime==4.9.3
alembic==1.16.4
autograd==1.7.0
Mako==1.3.10
jupyter-events==0.12.0
json5==0.10.0
conda-libmamba-solver==25.4.0
unicodedata2==16.0.0
evaluate==0.4.3
h5netcdf==1.6.1
grpcio==1.73.1
wasabi==1.1.3
pycosat==0.6.6
toolz==1.0.0
platformdirs==4.3.7
lightning-utilities==0.14.3
Brotli==1.1.0
python-crfsuite==0.9.11
libclang==18.1.1
packaging==25.0
jupyterlab_server==2.27.3
cliff==4.10.0
pydantic_core==2.27.2
urllib3==2.4.0
cftime==1.6.4.post1
webcolors==24.11.1
etuples==0.3.9
httpcore==1.0.7
tensorflow==2.19.0
pycparser==2.22
cycler==0.12.1
ipywidgets==8.1.5
Jinja2==3.1.6
wheel==0.45.1
langcodes==3.5.0
filelock==3.18.0
pluggy==1.5.0
bokeh==3.7.2
pyarrow==19.0.1
pooch==1.8.2
dill==0.3.8
comm==0.2.2
cmapPy==4.0.1
marisa-trie==1.2.1
stanio==0.5.1
statsmodels==0.14.4
pure_eval==0.2.3
tornado==6.4.2
pip==25.1
cmd2==2.7.0
distro==1.9.0
mpld3==0.5.10
termcolor==3.1.0
cloudpickle==3.1.1
interface-meta==1.3.0
h5py==3.13.0
formulaic==1.1.1
neurogym==2.0.0
netCDF4==1.7.2
rfc3986-validator==0.1.1
simpleitk==2.5.2
munkres==1.1.4
aiohappyeyeballs==2.6.1
python-json-logger==3.3.0
smart-open==7.1.0
terminado==0.18.1
wrapt==1.17.2
wandb==0.20.1
argon2-cffi-bindings==21.2.0
numba==0.61.0
aiosignal==1.3.2
shapely==2.1.0
PyYAML==6.0.2
httpx==0.28.1
murmurhash==1.0.12
donfig==0.8.1.post1
scipy==1.14.1
miniKanren==1.0.3
matplotlib-inline==0.1.7
smmap==5.0.2
matplotlib-venn==1.1.2
safetensors==0.5.3
tensorboard-data-server==0.7.2
pytorch-lightning==2.5.2
notebook==7.3.3
hpack==4.1.0
mistune==3.1.2
logical-unification==0.4.6
pyzmq==26.3.0
conda-package-handling==2.4.0
rpds-py==0.23.1
jupyter_server_terminals==0.5.3
s3transfer==0.13.1
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
prompt_toolkit==3.0.50
typer==0.15.2
ml_dtypes==0.5.1
altair==5.5.0
iniconfig==2.1.0
blis==1.2.0
hydra-core==1.3.2
ipykernel==6.29.5
conda==25.3.1
archspec==0.2.5
frozendict==2.4.6
annotated-types==0.7.0
bctpy==0.6.1
optree==0.15.0
xarray==2025.4.0
Markdown==3.8.2
omegaconf==2.3.0
cachetools==5.5.2
six==1.17.0
pyogrio==0.10.0
hyperframe==6.1.0
sentence-transformers==4.0.2
thinc==8.3.4
rich-argparse==1.7.1
ruamel.yaml==0.18.10
optuna==2.10.1
tabulate==0.9.0
stevedore==5.4.1
notebook_shim==0.2.4
datasets==3.4.1
websocket-client==1.8.0
MarkupSafe==3.0.2
